SITE_NAME=DataCite
SITE_TITLE=DataCite Statistics
SITE_DESCRIPTION=The DataCite Statistics webpage.
SITE_GA=

BUGSNAG_JS_KEY=

SOLR_URL=https://search.datacite.org
RESOLUTION_URL=stats/resolution-report
