.DS_Store
_.DS_Store
.env
.env.*
!.env.example
!.env.travis
!.env.production
!.env.stage
# Ignore bundler config
/.bundle

# Ignore the build directory and files
/build

# Ignore build dependencies
/node_modules/
/vendor/bundle/*
pandoc-*

# Ignore cache
/.sass-cache
/.cache
