<div class="header" id="navtop">
  <div class="navbar navbar-ct-transparent" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header" <button="" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        <a class="navbar-brand" href="/">DataCite Statistics</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="support" aria-expanded="false">Support <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="mailto:support@datacite.org">Email</a></li>
              <li><a href="https://github.com/datacite/segugio">Source Code</a></li>
            </ul>
          </li>
          <li class="dropdown open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="sites" aria-expanded="true"><i class="fa fa-th"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="https://api.datacite.org">
                      <i class="fa fa-cogs fa-fw"></i>
                      API
                    </a>
                  </li>
                  <li>
                    <a href="https://blog.datacite.org">
                      <i class="fa fa-rss fa-fw"></i>
                      Blog
                    </a>
                  </li>
                  <li>
                    <a href="http://citation.crosscite.org">
                      <i class="fa fa-file-text-o fa-fw"></i>
                      Citation Formatter
                    </a>
                  </li>
                  <li>
                    <a href="https://data.datacite.org">
                      <i class="fa fa-repeat fa-fw"></i>
                      Content Resolver
                    </a>
                  </li>
                  <li>
                    <a href="https://www.datacite.org">
                      <i class="fa fa-globe fa-fw"></i>
                      Homepage
                    </a>
                  </li>
                  <li>
                    <a href="https://mds.datacite.org">
                      <i class="fa fa-database fa-fw"></i>
                      MDS
                    </a>
                  </li>
                  <li>
                    <a href="https://oai.datacite.org">
                      <i class="fa fa-table fa-fw"></i>
                      OAI-PMH
                    </a>
                  </li>
                  <li>
                    <a href="https://profiles.datacite.org">
                      <i class="fa fa-user fa-fw"></i>
                      Profiles
                    </a>
                  </li>
                  <li>
                    <a href="https://schema.datacite.org">
                      <i class="fa fa-file-code-o fa-fw"></i>
                      Schema
                    </a>
                  </li>
                  <li>
                    <a href="https://search.datacite.org">
                      <i class="fa fa-search fa-fw"></i>
                      Search
                    </a>
                  </li>
                  <li>
                    <a href="https://stats.datacite.org">
                      <i class="fa fa-bar-chart fa-fw"></i>
                      Statistics
                    </a>
                  </li>
                  <li>
                    <a href="http://status.datacite.org">
                      <i class="fa fa-calendar-check-o fa-fw"></i>
                      Status
                    </a>
                  </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="landing-header" style="background-image: url('//i.imgur.com/u9SwzyG.jpg'); background-position: center; ">
    <div class="container">
      <div class="motto">
        <h1>DataCite Statistics</h1>
        <p>DataCite provides statistics for both DOI registrations and DOI resolutions, filtered by Allocator, Data Center or Prefix via our DataCite Metadata Stats service.</p>
      </div>
    </div>
  </div>
