<script src="/javascripts/browser-support.js"></script>
<script src="/javascripts/jquery-1.9.1.min.js"></script>

<script src="/javascripts/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/javascripts/jquery-custom.js"></script>
<script src="/javascripts/jquery.tablesorter.min.js"></script>
<script src="/javascripts/stats/util.js"></script>
<script src="/javascripts/navi.js"></script>
<script src="/javascripts/stats/table.js"></script>
<script src="/javascripts/stats/main.js"></script>
<link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.4/dist/js/tabulator.min.js"></script>
<script src="/javascripts/stats/tabulator.js"></script>
<%# <script type="text/javascript" src="dist/js/jquery_wrapper.min.js"></script>  %>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.statuspage.io/se-v2.js"></script>
<script src="https://assets.datacite.org/javascripts/default.js"></script>
<div id="consent"></div>
<script src="<%= ENV['CDN_URL'] %>/javascripts/consent.js"></script>
<% if ENV['SITE_GA'].present? %>
  <div id="ga" data-ga="<%= ENV['SITE_GA'] %>"></div>
  <script src="/javascripts/ga.js"></script>
<% end %>