<!-- table start -->

  <div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" onclick="displayProviders()">Registrations by Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" onclick="displayClients()">Registration by Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" onclick="displayPrefixes()">Registrations by Prefixes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resolutions.html#tab-resolution-report">Resolutions by Month</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="csv" onclick="getCsv()">Download CSV</a>
      </li>
    </ul>
    </div>
  </div>

<!-- table end -->
