<!-- table start -->

  <div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" onclick="displayProviders()">Registrations by Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" onclick="displayClients()">Registrations by Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" onclick="displayPrefixes()">Registrations by Prefix</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="resolutions-tab" href="/resolutions.html#tab-resolution-report">Resolutions by Month</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="csv" onclick="getCsv()">Download CSV</a>
      </li>
    </ul>
    </div>
  </div>
<!-- table end -->
