<!-- table start -->

  <div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" onclick="displayProviders()">Registrations by Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" onclick="displayClients()">Registrations by Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" onclick="displayPrefixes()">Registrations by Prefixes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="resolutions-tab" href="/resolutions.html#tab-resolution-report">Resolutions by Month</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="csv" onclick="getCsv()">Download CSV</a>
      </li>
    </ul>
    </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="/">Statistics</a></li>
      <li class="breadcrumb-item" id="member_level"></li>
      <li class="breadcrumb-item" id="client_level"></li>
    </ol>
  </nav>

  </div>



<!-- table end -->
