<!-- table start -->

  <div class="container">
    <nav aria-label="breadcrumb" id="breadcrumbs">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/">Statistics</a></li>
        <li class="breadcrumb-item" id="member_level"></li>
        <li class="breadcrumb-item" id="client_level"></li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <div id="doi-production-table"></div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>

<!-- table end -->
