---
layout: false
---
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<head>
<link media="all" href="static/style.css" type="text/css" rel="stylesheet" />
<title>DOI resolution reports </title>
<script src="./static/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="./static/jquery.tablesorter.min.js" type="text/javascript"></script>
</head>
<body>
  <h1>DOI resolution reports</h1>
  <br />

  <% resolutions_array.each do |file| %>
    <p>
      <a href=<%="#{file[:name]}"%>><%="#{file[:month]} #{file[:year]}"%></a>
    </p>
  <% end %>
</body>
</html>
´

