---
title: Welcome to DataCite Statistics
---

<!-- <div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>
</div>
-->


<h1><img alt="DataCite Logo" src="https://mds.datacite.org/resources/images/dc-logo.gif"> DataCite Statistics <small>Beta</small></h1>
<div id="filters"></div>
<div id="stats">
  <ul/>
</div>
