---
title: DataCite Resolution Statistics
description: DataCite provides statistics for DOI registrations and DOI resolutions, filtered by Allocator, Data Center or Prefix.
---

<div class="container-fluid">
  <div id="filters"></div>
  <div id="stats">
    <ul/>
  </div>
</div>
